<div class="container">
    <hello-world> </hello-world>
    <div class="page-header">
        <h1>
            <small>This is</small>
            {{vm.pageTitle}}
        </h1>
        <button ng-click="vm.goToLink('/page1')" class="btn btn-default btn-info"> Back to Page1</button>
        <button ng-click="vm.goToLink('/page2')" class="btn btn-default btn-warning"> Back to Page2</button>
    </div>

    <form name="userForm" ng-submit="vm.submitForm(userForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <input type="text"
                   name="username"
                   ng-model="vm.user.username"
                   ng-minlength="3"
                   ng-maxlength="8"
                   required class="form-control"/>

            <div ng-messages="!userForm.username.$pristine && userForm.username.$error" class="help-block">
                <div ng-messages-include="partials/form_ng_messages.html"></div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class=" btn btn-primary" ng-disabled="userForm.$invalid">
        </div>
    </form>

    <form name="search" class="form-inline">
        <label for="searchTerm">Search: </label>
        <input type="text"
               class="form-control inline"
               name="searchTerm"
               ng-minlength="1"
               ng-maxlength="10"
               ng-pattern="vm.searchPattern"
               ng-model="vm.search"
               id="searchTerm" placeholder="Food or trees">
        <button id="searchButton"
                ng-disabled="search.searchTerm.$invalid"
                class="btn btn-success inline"
                ng-click="vm.makeSearch()"
                type="button">Search
        </button>
        <div ng-messages="search.searchTerm.$error">
            <div class="alert alert-warning" ng-message="maxlength">Cannot Exceed 10 characters</div>
            <div class="alert alert-warning" ng-message="pattern">Numbers and Letters Only</div>
        </div>
    </form>
</div>